body {
      background-color: lavender;
      font-size: 150%;
      font-family: 'Poiret One', cursive;
    }
    
    h1 {
      font-family: 'Fredericka the Great', cursive;
      color: purple;
    }
    
    h2 {
       font-family: 'Shadows Into Light', cursive;
      color: navy;
    }
    
    .info-section {
      font-size: 100%;
      color : darkgreen ;
      font-family: 'Shadows Into Light', cursive;
      border: 1px dotted black;
    }
    
    #title-section {
      color: purple;
    }
    