<!doctype html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>Animal Quiz</title>
    <link rel = "stylesheet" href = "../../views/file.css">
  </head>
  <body>
<h1>What animal are you most like... let's get started</h1>
<p>What is your name?</p>
<form method = POST>
  <input id="questionNumber" name="questionNumber" type="hidden" value="1">
  <input type = "text" name = "name">
  <br>
  <input type = "submit" value = "This is me">
</form>
</body>
</html>

