<h1>What animal are you most like... let's get started</h1>
​
<p>Do you prefer to dance or sing?</p>
<form method = POST>
 <input id="questionNumber" name="questionNumber" type="hidden" value="2">
 <input id="name" name="name" type="hidden" value="<%=@name%>">
​
 <input type="radio" id="first" name="first" value="0">Dance
 <br>
 <input type="radio" id="first" name="first" value="1">Sing
 
 <br>
 <input type = "submit" value = "Sounds right">
</form>